:where(.css-dev-only-do-not-override-1supe1).ant-tabs-top
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1supe1).ant-tabs-bottom
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1supe1).ant-tabs-top
  > div
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1supe1).ant-tabs-bottom
  > div
  > .ant-tabs-nav::before {
  border: none;
}

:where(.css-dev-only-do-not-override-1hp2dlu).ant-tabs-top
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1hp2dlu).ant-tabs-bottom
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1hp2dlu).ant-tabs-top
  > div
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1hp2dlu).ant-tabs-bottom
  > div
  > .ant-tabs-nav::before {
  border: none;
}

.ant-tabs-nav::before {
  border: none !important;
}

:where(.css-dev-only-do-not-override-1hp2dlu).ant-tabs {
  line-height: 0 !important;
}