:root {
  --ant-primary-color: #4caf50;
  --ant-primary-color-hover: #66bb6a;
  --ant-primary-color-active: #43a047;
  --ant-primary-color-outline: rgba(76, 175, 80, 0.2);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden; /* 防止页面级滚动条 */
}

.app-container {
  overflow: hidden;
  background-color: #f4f4f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  position: relative;
  overflow: hidden; /* 防止内容区域出现滚动条 */
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; /* 只在缩放内容区域出现滚动条 */
  padding: 10px;
  box-sizing: border-box;
}

.content {
  margin-top: 20px;
  text-align: center;
}

.auto-hide-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.auto-hide-toggle label {
  font-size: 14px;
  cursor: pointer;
}